/*CENTRAMENTO PAGINA*/
body, html{
    padding: 0;
    margin: 0;
}
/*PROVA BONUS*/
.box{
    background-color: rgb(121, 189, 228);
    background-image: url(../img/pattern.png);
    background-size: repeat;
    width: 100%;
    height: 150px;
}
.box img{
    width: 200px;
    margin-left: 200px;
    margin-top: 55px;
}

/*MAIN CONTENT*/
main{
    padding-left: 200px;
    padding-right: 200px;
}

h1{
    margin-top: 40px;
    margin-bottom: -15px;
}

.is-lighter{
    font-weight:lighter;
    font-size: smaller;
}

.highlighted{
    color: #599dc5;
}

.text-opacity{
    color:rgba(121, 189, 228, 1.2);    
}

.figure, img{
    margin-left: 0px;
}

/*UTILITY*/

/*TESTO EVIDENZIATO*/
.text-highilight{
    background-color: rgb(205, 221, 33);
}

/*SPESSORE LISTA NON ORDINATA*/
#spessore-interno{
    padding: 15px;
}

